
div
  h2
    | Class Dates

div
  h1
    | Choose the dates you would like to attend class



.classdates-input
a(href=url, data-active=isActive)
input(type="checkbox" checked=False)
label classdates




.signup-button
md-button(class="md-raised" aria-label="Sign Up" value="Sign Up" ng-click=False) Sign Up

.goback-button
md-button(class="md-raised" aria-label="Go Back" value="Go Back" ng-click=False) Go Back
